@import "@/shared/styles";

.button {
  padding: 0.8rem 1.6rem;
  color: $white;
  font-weight: 700;
  background-color: $primary;
  border: none;
  border-radius: 0.6rem;
  transition: all 0.1s ease-in;

  @include hover {
    transform: translateY(-2px);
    cursor: pointer;
  }

  &[disabled] {
    color: $black;
    background-color: $grey;
    opacity: 0.5;
  }
}
