@import "@/shared/styles";

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: UbuntuSans, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $black;
  text-decoration: none;
}
