@import "@/shared/styles";

body {
  box-sizing: border-box;
  font-family: UbuntuSans, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: $black;
  text-decoration: none;

  @include hover {
    font-weight: 700;
  }
}
