@import "@/shared/styles";

.card {
  width: 40rem;
  height: 30rem;
  overflow: hidden;
  background-color: $white;
  border-radius: 1.6rem;

  &__content {
    padding: 0 0.8rem;
  }

  &__image {
    width: 100%;

    &_loading {
      display: none;
    }
  }
}
